/*Reset*/
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0px;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type=submit] {
    display: inline-block;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

body, html {
    overflow-x: hidden;
}

a {
    color: #fff;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #120A14;
    color: #fff;
}

.container {
    max-width: 1224px;
    padding: 0 15px;
    margin: 0px auto;
    position: relative;
}

/*HEADER*/
/* Основные стили */
.main-hero__row {
    position: absolute;
    top: 36px;
    max-width: 1196px;
    min-height: 32px;
    padding: 0 15px;
    margin: 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.main-nav {
    display: flex;
}

.main-nav__item:not(:last-child) {
    margin-right: 24px;
}

.main-nav__item a {
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 14px;
    line-height: 157%;
    text-transform: uppercase;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.main-nav__item a:active {
    box-shadow: inset 100px 0 0 0 #FF4262;
    color: white;
}

.social-list {
    display: flex;
}

.social-list__item:not(:last-child) {
    margin-right: 17px;
}

.social-list__item img {
    width: 18px;
    height: 18px;
    transition: 1s;
}

.social-list__item img:hover,
.social-list__item img:active,
.social-list__item img:focus {
    transform: scale(1.4);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 760px) {
    .main-nav, .social-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f8f8f8;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px;
    }

    .main-nav__item {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }

    .main-hero__row.active .main-nav,
    .main-hero__row.active .social-list {
        display: flex;
    }
}

/* Анимация появления header */
.main-hero__row.show {
    opacity: 1;
    transform: translateY(0);
}

/*HEADER-END*/

/*MAIN*/
.content {
    order: 1;
}
/*hero*/
.hero {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/hero/criptoart.png");
    background-size: cover;
    background-position: center;
    min-height: 900px;
    position: relative;
}

.hero__container {
    max-width: 971px;
    padding: 0 15px;
    margin: 0px auto;
    position: relative;
}

.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__ruby {
    display: inline-block; 
    width: 36px; 
    height: 67px; 
    background-image: url("../img/hero/Ruby.svg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    animation: float 2s ease-in-out infinite; 
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.hero__title {
    width: 765px;
    font-size: 70px;
    line-height: 93%;
    margin-top: 10px;
}

.hero__text {
    width: 481px;
    font-weight: 400;
    line-height: 156%;
    margin-top: 10px;
}

.hero__btn {
    margin-top: 10px;
    font-weight: 700;

    text-transform: uppercase;
    color: #000;

    border-radius: 60px;
    padding: 19px 37px;
    width: 264px;
    height: 70px;

    background: linear-gradient(273deg, #ff4060 0%, #ff81c5 52.08%, #6d5eea 100%);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active {
    box-shadow: inset 100px 0 0 0 #FF4262;
    color: white;
}

.hero__img-bg {
    width: 971px;
    height: 375px;
    margin-top: 30px;
}

/*hero-end*/

/*brands*/
.brands {
    padding: 15px 16px;
    height: 82px;
    background-color: #FF4262;
}

.brands-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.brands-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    animation: scroll 10s linear infinite;
}

.brands-list__item:not(:last-child) {
    margin-right: 20px; /* Расстояние между элементами */
}

.brands-list__item img {
    width: 3182px;
    height: 44px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*brands-end*/

/*about*/
.about {
    min-height: 1482px;
}

.about__container {
    max-width: 1090px;
    padding: 0 15px;
    margin: 0px auto;
    position: relative;
}

.about__text {
   text-align: center;
}

.about__title {
    display: inline-block;
    max-width: 616px;
    font-size: 40px;
    line-height: 110%;
    margin-top: 121px;
    margin-bottom: 13px;
}

.about__subtitle {
    display: inline-block;
    max-width: 728px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 100px;
}

.unique-nfts {
    margin-bottom: 60px;
}

.about__cart {
    display: flex;
    align-items: flex-end;
    min-height: 466px;
}

.unique-nfts__img {
    width: 536px;
    height: 466px;  
}

.secure__img {
    width: 560px;
    height: 467px;
}

.about__content h3 {
    font-size: 24px;
    line-height: 120%;
    color: #ff4060;
    margin-bottom: 4px;
}

.about__content p:nth-child(2) {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 14px;
}

.about__content p:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.about__content button {
    text-transform: uppercase;
    background: linear-gradient(273deg, #ff4060 0%, #ff81c5 52.08%, #6d5eea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    border: 2px solid;
    border-image: #6d5eea;
    border-radius: 60px;
    padding: 19px 37px;
}

.about__img-bottom {
    max-width: 1442px;
    height: 191px;
    margin: 0 auto;
}

.about__img-bottom img {
    display: inline-block;
    animation: move 1s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
/*about-end*/

/*slider*/
.slider {
    padding: 104px 0 89px 0px;
}

.slider__title {
    text-align: center;
}

.slider__title h2 {
    font-size: 24px;
    line-height: 120%;
    color: #ff4262;
}

.slider__title p {
    font-size: 40px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 40px;
}

.swiper {
    width: 100%;
    min-height: 388px;
}

.swiper-slide {
    text-align: center;
    border: 1px solid black; 
    border-radius: 20px;
    padding: 24px 20px;
    width: 276px;
    min-height: 388px;
}

.swiper-slide__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 18px;

    span {
        font-size: 25px;
        line-height: 120%;
        margin-right: 4px;
    }

    h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    }
}

.slider__img {
    width: 236px;
    height: 241px;
    margin-bottom: 18px;
}

.swiper-slide__sub-text {
    display: flex;
    justify-content: space-between;
}

.swiper-slide__sub-text .time p {
    line-height: 120%;
    color: #fff;
}

.swiper-slide__sub-text .time span {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #575757;
}

.swiper-slide__sub-text .price p {
    line-height: 120%;
    color: #cdfe02;
}

.swiper-slide__sub-text .price span {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #575757;
}
/*slider-end*/

/*faq*/
.faq {
    padding: 0 15px;
    margin: 0px auto;
    position: relative;
}

.faq__title {
    text-align: center;
    margin-bottom: 46px;

    h2 {
        color: #FF4262;
        font-size: 30px;
        text-transform: uppercase;
    }

    p {
        font-size: 40px;
    }
}

.faq__toggle-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-block {
    border: 3px solid #FF4060;
    border-radius: 10px;
    padding: 20px 24px;
    width: 732px;
    min-height: 72px;
    margin-bottom: 16px;

    background: rgba(0, 0, 0, 0.1);
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.toggle-title {
    font-size: 18px;
    line-height: 150%;
}

.toggle-icon {
    font-size: 35px;
    font-weight: bold;
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: 10px;
}

.toggle-content.show {
    max-height: 100px;
    transition: max-height 0.3s ease-in;
}
/*faq-end*/

/*community*/
.community {
    min-height: 616px;
}

.community__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
}

.community__title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 10px;
}

.community__text {
    width: 364px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
}

.list-icon {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.list-icon__item {
    margin-left: -15px;
}

.list-icon__item:first-child {
    margin-left: 0; /* Убираем отрицательный отступ для первого элемента */
}

.list-icon__item img {
    display: block;
    transition: transform 0.3s ease;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.list-icon__item:nth-child(1) img {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0s;
}

.list-icon__item:nth-child(2) img {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0.2s;
}

.list-icon__item:nth-child(3) img {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0.4s;
}

.list-icon__item:nth-child(4) img {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0.6s;
}

.list-icon__item:nth-child(5) img {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0.8s;
}

.community__btn {
    display: flex;
    gap: 20px; 
}

.discord-btn, .twitter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 68px;
    border: 1px solid #5765f2;
    border-radius: 60px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.discord-btn {
    background: #5765f2;
}

.twitter-btn {
    background: #36b9ff;
}

.discord-btn img, .twitter-btn img {
    margin-right: 10px; 
    width: 20px;
    height: 20px; 
}

.community__btn button:hover,
.community__btn button:active {
    background-color: #FF4060;
}

/*community-end*/
/*MAIN-END*/